@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Noto+Sans+KR:wght@400;700&display=swap");
@import "header.css";
@import "container.css";
@import "footer.css";

body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21.44px;
  margin-bottom: 21.44px;
}
