.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 50px;
  margin-top: 20px;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.timer__display {
  font-size: 65px;
  padding-top: 10px;
  display: flex;
}

p {
  margin: 0px;
  padding: 0px;
}

.timer__buttons {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 20px;
}
